<!-- Form submission for new snapshot context-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Snapshot</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>    

        <div class=".container">
            <div class=".container">
            <%- include('nav'); %>
            </div>
        
            <!-- JS-->
            <% let happy_score = 3;
            let sad_score = 3; 
            let anger_score = 3; 
            let disgust_score = 3; 
            let contempt_score = 3; 
            let surprise_score = 3; 
            let fear_score = 3;
            console.log("reached here");

            /*
            Needed to access the result property of the details object
            Result contains array of JS objects of which have same snapID
            so accessing it in first item should suffice
            */
             
            const snapID = details.result[0].snapshot_id;

            let formatteddate = new Date('1995-12-17T03:24:00'); 
            var snap_date = details.datetime;
            var input_date = new Date();
            let context_text = details.result[0].trigger_description; 
            console.log(details); 
            console.log(`This is snapshot id: ${snapID}`);

            const resultArray = details.result;

            resultArray.forEach((record) => {
              if(record.emotion_id === 1){
                happy_score = record.score;
              }
              if(record.emotion_id === 2){
                sad_score = record.score;
              }
              if(record.emotion_id === 3){
                disgust_score = record.score;
              }
              if(record.emotion_id === 4){
                contempt_score = record.score;
              }
              if(record.emotion_id === 5){
                anger_score = record.score;
              }
              if(record.emotion_id === 6){
                fear_score = record.score;
              }
              if(record.emotion_id === 7){
                surprise_score = record.score;
              }
            });

            console.log(happy_score, sad_score, anger_score, disgust_score, contempt_score, surprise_score, fear_score);

            %>
           
        
                      
            <div class=".container">
                <div class="m-3">
                    <!-- Show emotion values associated with entry-->
                    <%- include('selecteddropdown', {happy_score, sad_score, anger_score, disgust_score, contempt_score, surprise_score, fear_score}); %>
                                        
                    <form action="/edit/<%= snapID %>" method="post" name="snapshot">
                        
                        <!-- Allow editing of context-->
                        <div class="m-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Update context</label>
                        <textarea class="form-control" id="context" rows="3" name="context">
                        <%= context_text %>
                        </textarea>
                        </div>

                        <!--Button-->
                        <!-- context needs placed before submit button otherwise post doesnt pick it up-->
                        <div class="flex-button">
                          <input class="btn btn-primary" type="submit" value="Update">
                          <input class="btn btn-danger"  formaction="/del/<%= snapID %>"  type="submit" value="Delete">                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>