

<div class="row g-3 border border-primary">
    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Happiness Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= happy_score %></option>
            </select>
        </div>
    </div>



    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Sadness Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= sad_score %></option>
            </select>
        </div>
    </div>



    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Anger Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= anger_score %></option>
            </select>
        </div>
    </div>



    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Disgust Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= disgust_score %></option>
            </select>
        </div>
    </div>



    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Contempt Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= contempt_score %></option>
            </select>
        </div>
    </div>



    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Surprise Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= surprise_score %></option>
            </select>
        </div>
    </div>

    <div class="col-3 border border-warning">
        <div class="m-3 border border-danger">
            <label for="exampleSelect" class="form-label">Fear Score</label>
            <select class="form-select" id="exampleSelect" name="happiness" aria-label="Disabled select example" disabled>
              <option selected=""><%= fear_score %></option>
            </select>
        </div>
    </div>
</div>
